numbers-parser
pandas
numpy
requests
sentence-transformers
xgboost
scikit-learn
shap
matplotlib
joblib
groq
beautifulsoup4
Pillow
google-generativeai
streamlit>=1.30.0
protobuf>=4.0.0
streamlit-searchbox==0.1.23
